:root {
    --app-background: linear-gradient(37deg, rgba(68, 79, 217, 0.85), rgba(133, 66, 173, 0.89));;
    --bar-color: #5e31d3;
}

body {
    margin: 0px;
    padding: 0px;
}

#app {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background: var(--app-background);
}

button {
    font-size: 1.2em;
}