:root {
    --app-background: linear-gradient(37deg, rgba(109, 156, 213, 0.85), rgba(152, 80, 197, 0.89));;
    --bar-color: #00ffff;
}

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    overflow-x: hidden;
}

#app {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: var(--app-background);
}

.content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    font-size: 1.2em;
}