@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.toast {
    height: 100px;
    width: 500px;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    padding: 20px 35px 20px 25px;
    position: absolute;
    top: 25px;
    left: calc(50vw - 15%);
    border-left: 6px solid var(--color-info);
    overflow: hidden;

    -webkit-animation: popup .2s ease-out forwards;
    -o-animation: popup .2s ease-out forwards;
    animation: popup .2s ease-out forwards;
}

.progress.active:before {
    -webkit-animation: progress 5s linear forwards;
    -o-animation: progress 5s linear forwards;
    animation: progress 5s linear forwards;
}

@keyframes progress {

    0% {
        left: 100%;
    }
    100% {
        left: 0%;
    }
}

.fad {
    opacity: 0;
    transition: 2s ease-out;
}

@keyframes popup {
    0% {
        top: -50px;
    }
    100% {
        top: 40px
    }
}

.toast-content .check {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    background: var(--color-info);
    color: #fff;
    font-size: 20px;
    border-radius: 50%;
}

.toast .toast-content {
    display: flex;
    align-items: center;
}

.toast-content .message {
    display: flex;
    margin: 0 20px;
    flex-direction: column;
}

.message .text {
    font-size: 20px;
    font-weight: 400;
    color: #666666;
}

.message .text.text-1 {
    font-weight: 600;
    color: #333;

}

.toast .close {
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 5px;
    cursor: pointer;
    opacity: .7;
}

.toast .close:hover {
    opacity: 1;
}

.toast .progress {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    width: 100%;
    background: #ffffff;
}

.toast .progress:before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0px;
    height: 100%;
    width: 100%;
    background: #fff;
}
